<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProyectoRestaurante"
        tools:targetApi="31">
        <activity
            android:name=".activities.ModificarPlatos"
            android:exported="false" />
        <activity
            android:name=".activities.QRActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ModificarPersonal"
            android:exported="false" />
        <activity
            android:name=".ejemplo"
            android:exported="false" />
        <activity
            android:name=".activities.Crud_Personal"
            android:exported="false" />
        <activity
            android:name=".activities.Crud_Platos"
            android:exported="false" />
        <activity
            android:name=".activities.LogoActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.PerfilActivity"
            android:exported="false" />
        <activity
            android:name=".activities.PrincipalActivity"
            android:exported="false" />
        <activity
            android:name=".activities.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".activities.AgregarPersonal"
            android:exported="false" />
        <activity
            android:name=".activities.AgregarPlatos"
            android:exported="false" />
        <activity
            android:name=".activities.AgregarUsuario"
            android:exported="false" />
    </application>

</manifest>